In [2]:
import pandas as pd

In [6]:
fortune = pd.read_csv("fortune1000.csv", index_col="Rank")
sectors = fortune.groupby("Sector")
fortune.head(3)
#we do NOT do group_by on columns with unique names (Company)
#we DO group_by on colums - sector, industry - several columns fall inside ex. Energy sector
#group_by object is created directly from dataframe

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [10]:
type(fortune) #DataFrame object

pandas.core.frame.DataFrame

In [11]:
type(sectors) #DataFrameGroupBy object
              #until we call methods upon it, it will not give us anything useful

pandas.core.groupby.groupby.DataFrameGroupBy

# The .groupby() Method

In [12]:
fortune = pd.read_csv("fortune1000.csv", index_col="Rank")
sectors = fortune.groupby("Sector")
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [13]:
len(fortune)  #number of rows

1000

In [15]:
len(sectors) #number of groupings

21

In [17]:
fortune["Sector"].nunique()

21

In [19]:
sectors.size()  #DataFrameGroupby object - names are grouping and on the left is count of how many companies fall inside

Sector
Aerospace & Defense              20
Apparel                          15
Business Services                51
Chemicals                        30
Energy                          122
Engineering & Construction       26
Financials                      139
Food and Drug Stores             15
Food, Beverages & Tobacco        43
Health Care                      75
Hotels, Resturants & Leisure     25
Household Products               28
Industrials                      46
Materials                        43
Media                            25
Motor Vehicles & Parts           24
Retailing                        80
Technology                      102
Telecommunications               15
Transportation                   36
Wholesalers                      40
dtype: int64

In [21]:
fortune["Sector"].value_counts()  #similar methos can be used on Series

Financials                      139
Energy                          122
Technology                      102
Retailing                        80
Health Care                      75
Business Services                51
Industrials                      46
Materials                        43
Food, Beverages & Tobacco        43
Wholesalers                      40
Transportation                   36
Chemicals                        30
Household Products               28
Engineering & Construction       26
Hotels, Resturants & Leisure     25
Media                            25
Motor Vehicles & Parts           24
Aerospace & Defense              20
Telecommunications               15
Food and Drug Stores             15
Apparel                          15
Name: Sector, dtype: int64

In [23]:
fortune.head(3)
sectors.first()  #extracts first row in groupings

,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,
Aerospace & Defense,Boeing,Aerospace and Defense,"Chicago, IL",96114,5176,161400
Apparel,Nike,Apparel,"Beaverton, OR",30601,3273,62600
Business Services,ManpowerGroup,Temporary Help,"Milwaukee, WI",19330,419,27000
Chemicals,Dow Chemical,Chemicals,"Midland, MI",48778,7685,49495
Energy,Exxon Mobil,Petroleum Refining,"Irving, TX",246204,16150,75600
Engineering & Construction,Fluor,"Engineering, Construction","Irving, TX",18114,413,38758
Financials,Berkshire Hathaway,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
Food and Drug Stores,CVS Health,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
"Food, Beverages & Tobacco",Archer Daniels Midland,Food Production,"Chicago, IL",67702,1849,32300
Health Care,McKesson,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
"Hotels, Resturants & Leisure",McDonald’s,Food Services,"Oak Brook, IL",25413,4529,420000
Household Products,Procter & Gamble,Household and Personal Products,"Cincinnati, OH",78756,7036,110000
Industrials,General Electric,Industrial Machinery,"Fairfield, CT",140389,-6126,333000
Materials,Alcoa,Metals,"New York, NY",22534,-322,60000
Media,Disney,Entertainment,"Burbank, CA",52465,8382,185000
Motor Vehicles & Parts,General Motors,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000
Retailing,Walmart,General Merchandisers,"Bentonville, AR",482130,14694,2300000
Technology,Apple,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
Telecommunications,AT&T,Telecommunications,"Dallas, TX",146801,13345,281450
Transportation,UPS,"Mail, Package, and Freight Delivery","Atlanta, GA",58363,4844,341240
Wholesalers,Sysco,Wholesalers: Food and Grocery,"Houston, TX",48681,687,51700

In [24]:
sectors.last()  #extracts last row in groupings

,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,
Aerospace & Defense,Delta Tucker Holdings,Aerospace and Defense,"McLean, VA",1923,-133,12000
Apparel,Guess,Apparel,"Los Angeles, CA",2204,82,13500
Business Services,DeVry Education Group,Education,"Downers Grove, IL",1910,140,11770
Chemicals,H.B. Fuller,Chemicals,"St. Paul, MN",2084,87,4425
Energy,Portland General Electric,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
Engineering & Construction,MDC Holdings,Homebuilders,"Denver, CO",1909,66,1225
Financials,New York Community Bancorp,Commercial Banks,"Westbury, NY",1902,-47,3448
Food and Drug Stores,Fred’s,Food and Drug Stores,"Memphis, TN",2151,-7,7103
"Food, Beverages & Tobacco",Alliance One International,Tobacco,"Morrisville, NC",2066,-15,6835
Health Care,Providence Service,Health Care: Pharmacy and Other Services,"Tucson, AZ",1987,84,9072
"Hotels, Resturants & Leisure",Wendy’s,Food Services,"Dublin, OH",1896,161,21200
Household Products,Revlon,Household and Personal Products,"New York, NY",1914,56,5700
Industrials,Briggs & Stratton,Industrial Machinery,"Wauwatosa, WI",1895,46,5480
Materials,Schnitzer Steel Industries,Metals,"Portland, OR",1924,-197,2955
Media,Cenveo,"Publishing, Printing","Stamford, CT",1921,-31,7300
Motor Vehicles & Parts,Allison Transmission Holdings,Motor Vehicles and Parts,"Indianaoplis, IN",1986,182,2700
Retailing,99 Cents Only Stores,Specialty Retailers: Other,"Commerce, CA",1999,-232,18200
Technology,F5 Networks,Network and Other Communications Equipment,"Seattle, WA",1920,365,4178
Telecommunications,Equinix,Telecommunications,"Redwood City, CA",2726,188,5042
Transportation,Roadrunner Transportation Systems,Transportation and Logistics,"Cudahy, WI",1995,48,4502
Wholesalers,BlueLinx Holdings,Wholesalers: Diversified,"Atlanta, GA",1917,-12,1600

In [26]:
fortune.loc[24] #company from fortune

Company                     Boeing
Sector         Aerospace & Defense
Industry     Aerospace and Defense
Location               Chicago, IL
Revenue                      96114
Profits                       5176
Employees                   161400
Name: 24, dtype: object

In [25]:
sectors.groups  #we get python dictionary { each unique sector(keys): index labels from companies that fall into this grouping (values) }

{'Aerospace & Defense': Int64Index([ 24,  45,  60,  88, 118, 120, 209, 245, 282, 378, 389, 490, 560,
             605, 785, 788, 836, 903, 958, 987],
            dtype='int64', name='Rank'),
 'Apparel': Int64Index([91, 231, 340, 354, 448, 547, 575, 597, 683, 695, 726, 794, 877,
             882, 917],
            dtype='int64', name='Rank'),
 'Business Services': Int64Index([144, 186, 199, 204, 221, 248, 249, 294, 307, 312, 355, 392, 404,
             440, 467, 468, 481, 485, 492, 503, 545, 626, 635, 652, 677, 694,
             714, 729, 734, 735, 737, 744, 767, 776, 777, 783, 791, 792, 796,
             801, 803, 816, 819, 820, 869, 870, 886, 939, 951, 952, 993],
            dtype='int64', name='Rank'),
 'Chemicals': Int64Index([ 56, 101, 182, 189, 206, 253, 262, 277, 288, 296, 316, 538, 549,
             555, 566, 580, 613, 624, 654, 668, 717, 720, 724, 758, 761, 829,
             865, 898, 934, 949],
            dtype='int64', name='Rank'),
 'Energy': Int64Index([  2,  14,  30,  32,  42,  65,  90,  95,  98, 104,
             ...
             953, 955, 962, 966, 980, 981, 983, 995, 997, 997],
            dtype='int64', name='Rank', length=122),
 'Engineering & Construction': Int64Index([155, 156, 235, 260, 301, 314, 352, 381, 433, 478, 498, 501, 516,
             572, 576, 640, 719, 738, 822, 863, 874, 892, 929, 963, 985, 994],
            dtype='int64', name='Rank'),
 'Financials': Int64Index([  4,  16,  23,  26,  27,  29,  35,  40,  43,  49,
             ...
             920, 923, 925, 926, 936, 938, 959, 976, 988, 996],
            dtype='int64', name='Rank', length=139),
 'Food and Drug Stores': Int64Index([7, 17, 19, 87, 107, 160, 181, 595, 614, 631, 669, 756, 809, 849,
             928],
            dtype='int64', name='Rank'),
 'Food, Beverages & Tobacco': Int64Index([ 41,  44,  62,  66,  84,  94, 106, 149, 153, 161, 176, 207, 215,
             242, 266, 304, 336, 337, 362, 397, 413, 429, 452, 456, 460, 535,
             542, 567, 574, 587, 608, 615, 636, 664, 686, 702, 770, 787, 795,
             804, 889, 902, 954],
            dtype='int64', name='Rank'),
 'Health Care': Int64Index([  5,   6,  12,  21,  22,  33,  39,  46,  52,  55,  63,  72,  79,
              86, 123, 124, 125, 130, 138, 140, 141, 168, 172, 200, 201, 202,
             263, 268, 278, 286, 287, 290, 291, 305, 325, 358, 359, 372, 420,
             430, 431, 447, 457, 465, 469, 515, 527, 537, 553, 559, 583, 618,
             629, 661, 684, 693, 697, 708, 746, 749, 766, 775, 790, 799, 815,
             818, 845, 868, 881, 883, 935, 960, 965, 977, 978],
            dtype='int64', name='Rank'),
 'Hotels, Resturants & Leisure': Int64Index([109, 146, 195, 218, 241, 254, 309, 371, 444, 466, 534, 546, 557,
             562, 585, 731, 763, 764, 779, 797, 895, 915, 918, 941, 999],
            dtype='int64', name='Rank'),
 'Household Products': Int64Index([ 34, 151, 174, 256, 261, 328, 338, 345, 370, 434, 441, 450, 455,
             533, 550, 554, 601, 665, 699, 716, 856, 890, 900, 907, 932, 950,
             967, 992],
            dtype='int64', name='Rank'),
 'Industrials': Int64Index([  11,   59,   75,   93,   97,  128,  134,  148,  211,  224,  360,
              377,  396,  412,  419,  539,  544,  596,  622,  623,  630,  645,
              655,  658,  666,  674,  690,  757,  782,  789,  806,  813,  823,
              831,  832,  835,  841,  847,  866,  867,  873,  887,  942,  947,
              964, 1000],
            dtype='int64', name='Rank'),
 'Materials': Int64Index([126, 127, 170, 244, 251, 303, 321, 341, 356, 373, 375, 383, 417,
             418, 426, 435, 446, 480, 489, 514, 518, 577, 586, 616, 617, 620,
             625, 628, 637, 639, 641, 660, 667, 687, 691, 751, 774, 793, 857,
             885, 911, 982, 986],
            dtype='int64', name='Rank'),
 'Media': Int64Index([ 53,  96,  99, 203, 213, 255, 327, 366, 406, 414, 525, 530, 681,
             705, 707, 722, 741, 752, 759, 762, 821, 913, 968, 969, 989],
            dtype='int64', name='Rank'),
 'Motor Vehicles & Parts': Int64Index([  8,   9,  70, 147, 154, 169, 281, 310, 334, 339, 424, 428, 470,
             588, 591, 604, 647, 670, 718, 739, 811, 957, 961, 979],
            dtype='int64', name='Rank'),
 'Retailing': Int64Index([  1,  15,  28,  38,  47,  71,  89, 103, 111, 132, 136, 139, 143,
             145, 177, 180, 191, 196, 197, 228, 234, 237, 238, 240, 258, 267,
             269, 280, 293, 297, 299, 302, 330, 342, 346, 361, 365, 374, 379,
             380, 393, 415, 427, 439, 495, 500, 502, 511, 512, 517, 523, 582,
             592, 602, 607, 610, 621, 643, 644, 648, 657, 675, 689, 721, 748,
             771, 773, 807, 812, 824, 825, 827, 840, 876, 894, 899, 922, 937,
             940, 973],
            dtype='int64', name='Rank'),
 'Technology': Int64Index([  3,  18,  20,  25,  31,  36,  51,  54,  77, 110,
             ...
             931, 943, 944, 946, 956, 970, 971, 975, 984, 990],
            dtype='int64', name='Rank', length=102),
 'Telecommunications': Int64Index([10, 13, 37, 116, 159, 187, 292, 333, 399, 443, 461, 496, 526, 619,
             786],
            dtype='int64', name='Rank'),
 'Transportation': Int64Index([ 48,  58,  67,  68,  80, 129, 142, 208, 239, 270, 353, 390, 395,
             405, 407, 416, 432, 459, 521, 528, 570, 578, 642, 672, 709, 713,
             740, 800, 814, 858, 884, 930, 933, 945, 972, 974],
            dtype='int64', name='Rank'),
 'Wholesalers': Int64Index([ 57,  64,  92, 102, 108, 119, 122, 167, 183, 185, 212, 276, 285,
             315, 317, 320, 323, 335, 351, 357, 369, 391, 423, 463, 474, 477,
             484, 564, 581, 599, 627, 653, 685, 727, 747, 780, 808, 837, 875,
             991],
            dtype='int64', name='Rank')}

# Retrieve A Group with the .get_group() Method

In [27]:
fortune = pd.read_csv("fortune1000.csv", index_col="Rank")
sectors = fortune.groupby("Sector")
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [31]:
sectors.get_group("Energy") #it pulls out a subset Energy
sectors.get_group("Technology")

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
18,Amazon.com,Technology,Internet Services and Retailing,"Seattle, WA",107006,596,230800
20,HP,Technology,"Computers, Office Equipment","Palo Alto, CA",103355,4554,287000
25,Microsoft,Technology,Computer Software,"Redmond, WA",93580,12193,118000
31,IBM,Technology,Information Technology Services,"Armonk, NY",82461,13190,411798
36,Alphabet,Technology,Internet Services and Retailing,"Mountain View, CA",74989,16348,61814
51,Intel,Technology,Semiconductors and Other Electronic Components,"Santa Clara, CA",55355,11420,107300
54,Cisco Systems,Technology,Network and Other Communications Equipment,"San Jose, CA",49161,8981,71833
77,Oracle,Technology,Computer Software,"Redwood City, CA",38226,9938,132000
110,Qualcomm,Technology,Network and Other Communications Equipment,"San Diego, CA",25281,5271,33000
113,EMC,Technology,Computer Peripherals,"Hopkinton, MA",24704,1990,72000
133,Danaher,Technology,"Scientific,Photographic and Control Equipment","Washington, DC",20909,3357,81000
150,Xerox,Technology,Information Technology Services,"Norwalk, CT",18664,474,143600
157,Facebook,Technology,Internet Services and Retailing,"Menlo Park, CA",17928,3688,12691
158,Jabil Circuit,Technology,Semiconductors and Other Electronic Components,"St. Petersburg, FL",17914,284,161000
164,Thermo Fisher Scientific,Technology,"Scientific,Photographic and Control Equipment","Waltham, MA",16965,1975,52400
173,Micron Technology,Technology,Semiconductors and Other Electronic Components,"Boise, ID",16192,2899,31800
194,Western Digital,Technology,Computer Peripherals,"Irvine, CA",14572,1465,76449
219,Texas Instruments,Technology,Semiconductors and Other Electronic Components,"Dallas, TX",13000,2986,29977
220,CDW,Technology,Information Technology Services,"Lincolnshire, IL",12989,403,8465
230,Cognizant Technology Solutions,Technology,Information Technology Services,"Teaneck, NJ",12416,1624,221700
233,Computer Sciences,Technology,Information Technology Services,"Falls Church, VA",12183,-8,70000
284,Liberty Interactive,Technology,Internet Services and Retailing,"Englewood, CO",9989,869,22080
295,Applied Materials,Technology,Semiconductors and Other Electronic Components,"Santa Clara, CA",9659,1377,15050
300,eBay,Technology,Internet Services and Retailing,"San Jose, CA",9496,1725,11600
308,Priceline Group,Technology,Internet Services and Retailing,"Norwalk, CT",9224,2551,15500
313,Corning,Technology,Network and Other Communications Equipment,"Corning, NY",9111,1339,35700
331,Broadcom,Technology,Semiconductors and Other Electronic Components,"Irvine, CA",8394,978,9950
385,Expedia,Technology,Internet Services and Retailing,"Bellevue, WA",6672,765,18730
386,salesforce.com,Technology,Computer Software,"San Francisco, CA",6667,-47,19742
...,...,...,...,...,...,...,...
778,Diebold,Technology,"Computers, Office Equipment","North Canton, OH",2768,74,16000
805,Plexus,Technology,Semiconductors and Other Electronic Components,"Neenah, WI",2654,94,14000
830,Benchmark Electronics,Technology,Semiconductors and Other Electronic Components,"Angleton, TX",2541,95,10500
834,Teradata,Technology,Computer Software,"Dayton, OH",2530,-214,11300
842,Autodesk,Technology,Computer Software,"San Rafael, CA",2504,-331,9500
854,Ciena,Technology,Network and Other Communications Equipment,"Hanover, MD",2446,12,5345
864,Mettler-Toledo International,Technology,"Scientific,Photographic and Control Equipment","Columbus, OH",2395,353,13000
871,Xilinx,Technology,Semiconductors and Other Electronic Components,"San Jose, CA",2377,648,3451
888,Maxim Integrated Products,Technology,Semiconductors and Other Electronic Components,"San Jose, CA",2307,206,8250
891,Vishay Intertechnology,Technology,Semiconductors and Other Electronic Components,"Malvern, PA",2301,-109,22400
893,Teledyne Technologies,Technology,"Scientific,Photographic and Control Equipment","Thousand Oaks, CA",2298,196,9200
896,Trimble Navigation,Technology,"Scientific,Photographic and Control Equipment","Sunnyvale, CA",2290,121,8451
904,Brocade Communications Systems,Technology,Network and Other Communications Equipment,"San Jose, CA",2264,340,4640
905,PerkinElmer,Technology,"Scientific,Photographic and Control Equipment","Waltham, MA",2263,212,8000
906,Wayfair,Technology,Internet Services and Retailing,"Boston, MA",2250,-77,3809
909,Synopsys,Technology,Computer Software,"Mountain View, CA",2242,226,10284
912,Illumina,Technology,"Scientific,Photographic and Control Equipment","San Diego, CA",2220,462,4600
914,Twitter,Technology,Internet Services and Retailing,"San Francisco, CA",2218,-521,3898
919,Akamai Technologies,Technology,Computer Software,"Cambridge, MA",2197,321,6084
927,Gartner,Technology,Information Technology Services,"Stamford, CT",2163,176,7834
931,Microchip Technology,Technology,Semiconductors and Other Electronic Components,"Chandler, AZ",2147,369,9449
943,Maximus,Technology,Information Technology Services,"Reston, VA",2100,158,17000
944,TTM Technologies,Technology,Semiconductors and Other Electronic Components,"Costa Mesa, CA",2096,-26,29570
946,Engility Holdings,Technology,Information Technology Services,"Chantilly, VA",2086,-235,9800
956,Waters,Technology,"Scientific,Photographic and Control Equipment","Milford, MA",2042,469,6594
970,Rackspace Hosting,Technology,Internet Services and Retailing,"San Antonio, TX",2001,126,6189
971,VeriFone Systems,Technology,"Computers, Office Equipment","San Jose, CA",2001,79,5400
975,Super Micro Computer,Technology,"Computers, Office Equipment","San Jose, CA",1991,102,2285
984,Nuance Communications,Technology,Computer Software,"Burlington, MA",1931,-115,13500
990,F5 Networks,Technology,Network and Other Communications Equipment,"Seattle, WA",1920,365,4178

In [34]:
#old way to extract a list of companies that fall into sector "Apparel"
#much cleaner to do with DataFrameGroupby and get_group()
fortune[fortune["Sector"] == "Apparel"]

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
91,Nike,Apparel,Apparel,"Beaverton, OR",30601,3273,62600
231,VF,Apparel,Apparel,"Greensboro, NC",12377,1232,64000
340,PVH,Apparel,Apparel,"New York, NY",8020,572,26200
354,Ralph Lauren,Apparel,Apparel,"New York, NY",7620,702,20000
448,Hanesbrands,Apparel,Apparel,"Winston-Salem, NC",5732,429,65300
547,Levi Strauss,Apparel,Apparel,"San Francisco, CA",4495,209,12500
575,Coach,Apparel,Apparel,"New York, NY",4192,402,12950
597,Under Armour,Apparel,Apparel,"Baltimore, MD",3963,233,9600
683,Fossil Group,Apparel,Apparel,"Richardson, TX",3229,221,15100
695,Skechers U.S.A.,Apparel,Apparel,"Manhattan Beach, CA",3159,232,6400
726,Carter’s,Apparel,Apparel,"Atlanta, GA",3014,238,16800
794,Wolverine World Wide,Apparel,Apparel,"Rockford, MI",2692,123,6550
877,G-III Apparel Group,Apparel,Apparel,"New York, NY",2344,114,8919
882,Columbia Sportswear,Apparel,Apparel,"Portland, OR",2326,174,5978
917,Guess,Apparel,Apparel,"Los Angeles, CA",2204,82,13500

# Methods on the Groupby Object and DataFrame Columns

In [35]:
fortune = pd.read_csv("fortune1000.csv", index_col="Rank")
sectors = fortune.groupby("Sector")
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [42]:
sectors.get_group("Apparel")["Revenue"].sum() #we are double checking if revenue in Apparel sector is OK
sectors.get_group("Apparel")["Profits"].sum()

8236

In [38]:
sectors.max()  # it displays company that is last in that sector alphabetically
sectors.min()  # it displays company that is first in that sector alphabetically
sectors.sum() #applies only to columns that have numeric numbers

                              Revenue  Profits  Employees
Sector
Aerospace & Defense            357940    28742     968057
Apparel                         95968     8236     346397
Business Services              272195    28227    1361050
Chemicals                      243897    22628     463651
Energy                        1517809   -73447    1188927
Engineering & Construction     153983     5304     406708
Financials                    2217159   260209    3359948
Food and Drug Stores           483769    16759    1395398
Food, Beverages & Tobacco      555967    51417    1211632
Health Care                   1614707   106114    2678289
Hotels, Resturants & Leisure   169546    20697    2484245
Household Products             234737    14428     646038
Industrials                    497581    20764    1545229
Materials                      259145     4428     638123
Media                          220764    24347     550314
Motor Vehicles & Parts         482540    25898    1082560
Retailing                     1465076    47830    6227629
Technology                    1377600   180473    3578949
Telecommunications             461834    48637     832468
Transportation                 408508    44169    1536793
Wholesalers                    444800     8233     525597

In [52]:
sectors["Revenue"].sum()  #call on individual column
sectors["Employees"].sum()
sectors["Profits"].max()
sectors["Profits"].min()
sectors["Employees"].mean()

sectors[["Revenue", "Profits"]].sum()

                              Revenue  Profits
Sector
Aerospace & Defense            357940    28742
Apparel                         95968     8236
Business Services              272195    28227
Chemicals                      243897    22628
Energy                        1517809   -73447
Engineering & Construction     153983     5304
Financials                    2217159   260209
Food and Drug Stores           483769    16759
Food, Beverages & Tobacco      555967    51417
Health Care                   1614707   106114
Hotels, Resturants & Leisure   169546    20697
Household Products             234737    14428
Industrials                    497581    20764
Materials                      259145     4428
Media                          220764    24347
Motor Vehicles & Parts         482540    25898
Retailing                     1465076    47830
Technology                    1377600   180473
Telecommunications             461834    48637
Transportation                 408508    44169
Wholesalers                    444800     8233

# Grouping by Multiple Columns

In [54]:
fortune = pd.read_csv("fortune1000.csv", index_col="Rank")
sectors = fortune.groupby(["Sector", "Industry"])
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [61]:
#groupby more than one column - for example over Sector and Industry
sectors.size()
sectors.sum()
sectors["Revenue"].sum()
sectors["Employees"].mean()

Sector                      Industry
Aerospace & Defense         Aerospace and Defense                              48402.850000
Apparel                     Apparel                                            23093.133333
Business Services           Advertising, marketing                             62050.000000
                            Diversified Outsourcing Services                   50595.000000
                            Education                                          15585.000000
                            Financial Data Services                            13943.473684
                            Miscellaneous                                      12573.333333
                            Temporary Help                                     12004.000000
                            Waste Management                                   23839.800000
Chemicals                   Chemicals                                          15455.033333
Energy                      Energy                                              5005.142857
                            Mining, Crude-Oil Production                        5325.357143
                            Miscellaneous                                       6700.000000
                            Oil and Gas Equipment, Services                    25088.333333
                            Petroleum Refining                                 14404.705882
                            Pipelines                                           6011.750000
                            Utilities: Gas and Electric                        10249.487805
Engineering & Construction  Engineering, Construction                          26293.142857
                            Homebuilders                                        3217.000000
Financials                  Commercial Banks                                   54965.142857
                            Diversified Financials                             21940.933333
                            Insurance: Life, Health (Mutual)                    5880.100000
                            Insurance: Life, Health (stock)                    11235.166667
                            Insurance: Property and Casualty (Mutual)          19021.142857
                            Insurance: Property and Casualty (Stock)           28361.535714
                            Real estate                                        10705.266667
                            Securities                                          7940.333333
Food and Drug Stores        Food and Drug Stores                               93026.533333
Food, Beverages & Tobacco   Beverages                                          22123.000000
                            Food Consumer Products                             33271.950000
                                                                                  ...
Materials                   Metals                                             13825.642857
                            Miscellaneous                                         52.000000
                            Packaging, Containers                              20840.375000
Media                       Entertainment                                      21309.111111
                            Publishing, Printing                               23821.428571
Motor Vehicles & Parts      Motor Vehicles and Parts                           45106.666667
Retailing                   Automotive Retailing, Services                     17497.400000
                            General Merchandisers                             340810.000000
                            Specialty Retailers: Apparel                       42807.944444
                            Specialty Retailers: Other                         44619.333333
Technology                  Computer Peripherals                               43814.750000
                            Computer Software                                  27771.142857
                            Computers, Office Equipment                        66869.285714
                            Information Technology Services                    75818.384615
                            Internet Services and Retailing                    28723.666667
                            Network and Other Communications Equipment         21379.285714
                            Scientific,Photographic and Control Equipment      19291.750000
                            Semiconductors and Other Electronic Components     26065.391304
Telecommunications          Telecommunications                                 55497.866667
Transportation              Airlines                                           43511.222222
                            Mail, Package, and Freight Delivery               332137.500000
                            Miscellaneous                                       4200.000000
                            Railroads                                          24368.800000
                            Transportation Equipment                           11945.200000
                            Transportation and Logistics                       24938.200000
                            Trucking, Truck Leasing                            18939.555556
Wholesalers                 Miscellaneous                                       9200.000000
                            Wholesalers: Diversified                            9353.240000
                            Wholesalers: Electronics and Office Equipment      20832.625000
                            Wholesalers: Food and Grocery                      19317.500000
Name: Employees, Length: 79, dtype: float64

# The .agg() Method

In [63]:
fortune = pd.read_csv("fortune1000.csv", index_col="Rank")
sectors = fortune.groupby("Sector")
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [67]:
sectors.mean()
sectors["Employees"].mean()

Sector
Aerospace & Defense             48402.850000
Apparel                         23093.133333
Business Services               26687.254902
Chemicals                       15455.033333
Energy                           9745.303279
Engineering & Construction      15642.615385
Financials                      24172.287770
Food and Drug Stores            93026.533333
Food, Beverages & Tobacco       28177.488372
Health Care                     35710.520000
Hotels, Resturants & Leisure    99369.800000
Household Products              23072.785714
Industrials                     33591.934783
Materials                       14840.069767
Media                           22012.560000
Motor Vehicles & Parts          45106.666667
Retailing                       77845.362500
Technology                      35087.735294
Telecommunications              55497.866667
Transportation                  42688.694444
Wholesalers                     13139.925000
Name: Employees, dtype: float64

In [69]:
#agg method allows me to specify column and what method I want to use
# agg method expects Python dictionary {key:value} == {column_name : name_of_agg_method}
sectors.agg({"Revenue" : "sum",
            "Profits":"sum",
            "Employees" : "mean"})

                              Revenue  Profits     Employees
Sector
Aerospace & Defense            357940    28742  48402.850000
Apparel                         95968     8236  23093.133333
Business Services              272195    28227  26687.254902
Chemicals                      243897    22628  15455.033333
Energy                        1517809   -73447   9745.303279
Engineering & Construction     153983     5304  15642.615385
Financials                    2217159   260209  24172.287770
Food and Drug Stores           483769    16759  93026.533333
Food, Beverages & Tobacco      555967    51417  28177.488372
Health Care                   1614707   106114  35710.520000
Hotels, Resturants & Leisure   169546    20697  99369.800000
Household Products             234737    14428  23072.785714
Industrials                    497581    20764  33591.934783
Materials                      259145     4428  14840.069767
Media                          220764    24347  22012.560000
Motor Vehicles & Parts         482540    25898  45106.666667
Retailing                     1465076    47830  77845.362500
Technology                    1377600   180473  35087.735294
Telecommunications             461834    48637  55497.866667
Transportation                 408508    44169  42688.694444
Wholesalers                    444800     8233  13139.925000

In [71]:
#I want to apply multiple operations to multiple columns
sectors.agg(["size", "sum", "mean"]) 
#we have taken sum and mean of every sector by grouping and calling agg method

                             Revenue                        Profits          \
                                size      sum          mean    size     sum
Sector
Aerospace & Defense               20   357940  17897.000000      20   28742
Apparel                           15    95968   6397.866667      15    8236
Business Services                 51   272195   5337.156863      51   28227
Chemicals                         30   243897   8129.900000      30   22628
Energy                           122  1517809  12441.057377     122  -73447
Engineering & Construction        26   153983   5922.423077      26    5304
Financials                       139  2217159  15950.784173     139  260209
Food and Drug Stores              15   483769  32251.266667      15   16759
Food, Beverages & Tobacco         43   555967  12929.465116      43   51417
Health Care                       75  1614707  21529.426667      75  106114
Hotels, Resturants & Leisure      25   169546   6781.840000      25   20697
Household Products                28   234737   8383.464286      28   14428
Industrials                       46   497581  10816.978261      46   20764
Materials                         43   259145   6026.627907      43    4428
Media                             25   220764   8830.560000      25   24347
Motor Vehicles & Parts            24   482540  20105.833333      24   25898
Retailing                         80  1465076  18313.450000      80   47830
Technology                       102  1377600  13505.882353     102  180473
Telecommunications                15   461834  30788.933333      15   48637
Transportation                    36   408508  11347.444444      36   44169
Wholesalers                       40   444800  11120.000000      40    8233

                                          Employees
                                     mean      size      sum          mean
Sector
Aerospace & Defense           1437.100000        20   968057  48402.850000
Apparel                        549.066667        15   346397  23093.133333
Business Services              553.470588        51  1361050  26687.254902
Chemicals                      754.266667        30   463651  15455.033333
Energy                        -602.024590       122  1188927   9745.303279
Engineering & Construction     204.000000        26   406708  15642.615385
Financials                    1872.007194       139  3359948  24172.287770
Food and Drug Stores          1117.266667        15  1395398  93026.533333
Food, Beverages & Tobacco     1195.744186        43  1211632  28177.488372
Health Care                   1414.853333        75  2678289  35710.520000
Hotels, Resturants & Leisure   827.880000        25  2484245  99369.800000
Household Products             515.285714        28   646038  23072.785714
Industrials                    451.391304        46  1545229  33591.934783
Materials                      102.976744        43   638123  14840.069767
Media                          973.880000        25   550314  22012.560000
Motor Vehicles & Parts        1079.083333        24  1082560  45106.666667
Retailing                      597.875000        80  6227629  77845.362500
Technology                    1769.343137       102  3578949  35087.735294
Telecommunications            3242.466667        15   832468  55497.866667
Transportation                1226.916667        36  1536793  42688.694444
Wholesalers                    205.825000        40   525597  13139.925000

In [72]:
#combination of both methods
sectors.agg({"Revenue" : ["sum","mean"],
            "Profits":"sum",
            "Employees" : "mean"})

                              Revenue               Profits     Employees
                                  sum          mean     sum          mean
Sector
Aerospace & Defense            357940  17897.000000   28742  48402.850000
Apparel                         95968   6397.866667    8236  23093.133333
Business Services              272195   5337.156863   28227  26687.254902
Chemicals                      243897   8129.900000   22628  15455.033333
Energy                        1517809  12441.057377  -73447   9745.303279
Engineering & Construction     153983   5922.423077    5304  15642.615385
Financials                    2217159  15950.784173  260209  24172.287770
Food and Drug Stores           483769  32251.266667   16759  93026.533333
Food, Beverages & Tobacco      555967  12929.465116   51417  28177.488372
Health Care                   1614707  21529.426667  106114  35710.520000
Hotels, Resturants & Leisure   169546   6781.840000   20697  99369.800000
Household Products             234737   8383.464286   14428  23072.785714
Industrials                    497581  10816.978261   20764  33591.934783
Materials                      259145   6026.627907    4428  14840.069767
Media                          220764   8830.560000   24347  22012.560000
Motor Vehicles & Parts         482540  20105.833333   25898  45106.666667
Retailing                     1465076  18313.450000   47830  77845.362500
Technology                    1377600  13505.882353  180473  35087.735294
Telecommunications             461834  30788.933333   48637  55497.866667
Transportation                 408508  11347.444444   44169  42688.694444
Wholesalers                    444800  11120.000000    8233  13139.925000

# Iterating through Groups

In [73]:
fortune = pd.read_csv("fortune1000.csv", index_col="Rank")
sectors = fortune.groupby("Sector")
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [74]:
sectors["Profits"].max()

Sector
Aerospace & Defense              7608
Apparel                          3273
Business Services                6328
Chemicals                        7685
Energy                          16150
Engineering & Construction        803
Financials                      24442
Food and Drug Stores             5237
Food, Beverages & Tobacco        7351
Health Care                     18108
Hotels, Resturants & Leisure     5920
Household Products               7036
Industrials                      4833
Materials                         991
Media                            8382
Motor Vehicles & Parts           9687
Retailing                       14694
Technology                      53394
Telecommunications              17879
Transportation                   7610
Wholesalers                      1472
Name: Profits, dtype: int64

In [77]:
#new df object (empty) will be constructed and 
#column names will be the same as in fortune.csv
df = pd.DataFrame(columns = fortune.columns)
df

Empty DataFrame
Columns: [Company, Sector, Industry, Location, Revenue, Profits, Employees]
Index: []

In [78]:
#2 temporary variables must be declared - sector and data
#data is one of 21 one DataFrames
for sector, data in sectors:
    highest_revenue_company_in_group = data.nlargest(1, "Revenue")
    df = df.append(highest_revenue_company_in_group)

In [79]:
df

,Company,Sector,Industry,Location,Revenue,Profits,Employees
24,Boeing,Aerospace & Defense,Aerospace and Defense,"Chicago, IL",96114,5176,161400
91,Nike,Apparel,Apparel,"Beaverton, OR",30601,3273,62600
144,ManpowerGroup,Business Services,Temporary Help,"Milwaukee, WI",19330,419,27000
56,Dow Chemical,Chemicals,Chemicals,"Midland, MI",48778,7685,49495
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
155,Fluor,Engineering & Construction,"Engineering, Construction","Irving, TX",18114,413,38758
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
7,CVS Health,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
41,Archer Daniels Midland,"Food, Beverages & Tobacco",Food Production,"Chicago, IL",67702,1849,32300
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
109,McDonald’s,"Hotels, Resturants & Leisure",Food Services,"Oak Brook, IL",25413,4529,420000
34,Procter & Gamble,Household Products,Household and Personal Products,"Cincinnati, OH",78756,7036,110000
11,General Electric,Industrials,Industrial Machinery,"Fairfield, CT",140389,-6126,333000
126,Alcoa,Materials,Metals,"New York, NY",22534,-322,60000
53,Disney,Media,Entertainment,"Burbank, CA",52465,8382,185000
8,General Motors,Motor Vehicles & Parts,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
10,AT&T,Telecommunications,Telecommunications,"Dallas, TX",146801,13345,281450
48,UPS,Transportation,"Mail, Package, and Freight Delivery","Atlanta, GA",58363,4844,341240
57,Sysco,Wholesalers,Wholesalers: Food and Grocery,"Houston, TX",48681,687,51700

In [91]:
cities = fortune.groupby("Location")
cities
#we override old DataFrame
df = pd.DataFrame(columns = fortune.columns)
df

Empty DataFrame
Columns: [Company, Sector, Industry, Location, Revenue, Profits, Employees]
Index: []

In [92]:
for city, data in cities:
    highest_revenue_in_city = data.nlargest(1,"Revenue")
    df = df.append(highest_revenue_in_city)
df

,Company,Sector,Industry,Location,Revenue,Profits,Employees
138,Abbott Laboratories,Health Care,Medical Products and Equipment,"Abbott Park, IL",20661,4423,74000
169,Goodyear Tire & Rubber,Motor Vehicles & Parts,Motor Vehicles and Parts,"Akron, OH",16443,307,66000
288,Air Products & Chemicals,Chemicals,Chemicals,"Allentown, PA",9895,1278,19550
830,Benchmark Electronics,Technology,Semiconductors and Other Electronic Components,"Angleton, TX",2541,95,10500
374,Casey’s General Stores,Retailing,Specialty Retailers: Other,"Ankeny, IA",7052,181,22408
915,Domino’s Pizza,"Hotels, Resturants & Leisure",Food Services,"Ann Arbor, MI",2217,193,11900
596,Colfax,Industrials,Industrial Machinery,"Annapolis Junction, MD",3967,168,17087
215,Land O’Lakes,"Food, Beverages & Tobacco",Food Consumer Products,"Arden Hills, MN",13161,308,10000
190,AES,Energy,Utilities: Gas and Electric,"Arlington, VA",14963,306,21000
31,IBM,Technology,Information Technology Services,"Armonk, NY",82461,13190,411798
28,Home Depot,Retailing,Specialty Retailers: Other,"Atlanta, GA",88519,7009,385000
310,Autoliv,Motor Vehicles & Parts,Motor Vehicles and Parts,"Auburn Hills, MI",9170,457,59350
304,Hormel Foods,"Food, Beverages & Tobacco",Food Consumer Products,"Austin, MN",9264,686,20700
181,Whole Foods Market,Food and Drug Stores,Food and Drug Stores,"Austin, TX",15389,536,76300
668,PolyOne,Chemicals,Chemicals,"Avon Lake, OH",3378,145,6900
573,T. Rowe Price,Financials,Securities,"Baltimore, MD",4201,1223,5999
420,Baxalta,Health Care,Pharmaceuticals,"Bannockburn, IL",6149,956,17000
624,Albemarle,Chemicals,Chemicals,"Baton Rouge, LA",3651,335,6963
207,Kellogg,"Food, Beverages & Tobacco",Food Consumer Products,"Battle Creek, MI",13525,614,33577
91,Nike,Apparel,Apparel,"Beaverton, OR",30601,3273,62600
147,Paccar,Motor Vehicles & Parts,Motor Vehicles and Parts,"Bellevue, WA",19115,1604,23000
645,Regal Beloit,Industrials,"Electronics, Electrical Equip.","Beloit, WI",3510,143,26200
134,Whirlpool,Industrials,"Electronics, Electrical Equip.","Benton Harbor, MI",20891,783,97000
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
594,Ametek,Technology,"Scientific,Photographic and Control Equipment","Berwyn, PA",3974,591,15400
60,Lockheed Martin,Aerospace & Defense,Aerospace and Defense,"Bethesda, MD",46132,3605,126000
399,Cablevision Systems,Telecommunications,Telecommunications,"Bethpage, NY",6510,175,13549
366,Live Nation Entertainment,Media,Entertainment,"Beverly Hills, CA",7246,-33,12200
453,Regions Financial,Financials,Commercial Banks,"Birmingham, AL",5674,1062,23916
558,MDU Resources Group,Energy,Energy,"Bismarck, ND",4376,-622,8689
...,...,...,...,...,...,...,...
120,Raytheon,Aerospace & Defense,Aerospace and Defense,"Waltham, MA",23247,2074,61000
850,United Refining,Energy,Petroleum Refining,"Warren, PA",2470,82,2997
431,Zimmer Biomet Holdings,Health Care,Medical Products and Equipment,"Warsaw, IN",5998,147,17500
16,Fannie Mae,Financials,Diversified Financials,"Washington, DC",110359,10954,7300
542,Keurig Green Mountain,"Food, Beverages & Tobacco",Beverages,"Waterbury, VT",4520,498,6000
898,MPM Holdings,Chemicals,Chemicals,"Waterford, NY",2289,-83,5000
874,Granite Construction,Engineering & Construction,"Engineering, Construction","Watsonville, CA",2371,61,3200
1000,Briggs & Stratton,Industrials,Industrial Machinery,"Wauwatosa, WI",1895,46,5480
240,Toys “R” Us,Retailing,Specialty Retailers: Other,"Wayne, NJ",11802,-130,62000
785,B/E Aerospace,Aerospace & Defense,Aerospace and Defense,"Wellington, FL",2730,286,10057
383,AK Steel Holding,Materials,Metals,"West Chester, OH",6693,-509,8500
829,Platform Specialty Products,Chemicals,Chemicals,"West Palm Beach, FL",2542,-309,8200
996,New York Community Bancorp,Financials,Commercial Banks,"Westbury, NY",1902,-47,3448
456,Ingredion,"Food, Beverages & Tobacco",Food Production,"Westchester, IL",5621,402,11500
439,TravelCenters of America,Retailing,Specialty Retailers: Other,"Westlake, OH",5851,28,18450
396,Terex,Industrials,Construction and Farm Machinery,"Westport, CT",6543,146,20400
847,ITT,Industrials,Industrial Machinery,"White Plains, NY",2486,352,9700
389,Spirit AeroSystems Holdings,Aerospace & Defense,Aerospace and Defense,"Wichita, KS",6644,789,15200
849,Tops Holding,Food and Drug Stores,Food and Drug Stores,"Williamsville, NY",2472,-62,14800
674,Westinghouse Air Brake Technologies,Industrials,Industrial Machinery,"Wilmerding, PA",3308,399,13000
101,DuPont,Chemicals,Chemicals,"Wilmington, DE",27940,1953,52000
607,Fastenal,Retailing,Specialty Retailers: Other,"Winona, MN",3869,516,20746
266,Reynolds American,"Food, Beverages & Tobacco",Tobacco,"Winston-Salem, NC",10675,3253,5650
678,Skyworks Solutions,Technology,Semiconductors and Other Electronic Components,"Woburn, MA",3258,798,6700
172,Health Net,Health Care,Health Care: Insurance and Managed Care,"Woodland Hills, CA",16244,186,8584
7,CVS Health,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
506,Hanover Insurance Group,Financials,Insurance: Property and Casualty (Stock),"Worcester, MA",5034,332,4800
764,Penn National Gaming,"Hotels, Resturants & Leisure","Hotels, Casinos, Resorts","Wyomissing, PA",2838,1,18204
773,Bon-Ton Stores,Retailing,General Merchandisers,"York, PA",2790,-57,24100
932,Herman Miller,Household Products,"Home Equipment, Furnishings","Zeeland, MI",2142,98,7510